@import '../../colors';


.panel {
    height: calc(100vh - 64px);
    border-radius: 0;
}


.note:hover {
    cursor: pointer;
}

.trash {
    color: red;
    text-align: right;
    float: right;
    position: absolute;
    right: 10px;
}

.is-active {
    background-color: $bg;
}

.delete-icon {
    color: red;
    text-align: right;
    position: absolute;
    right: 10px;
}