.columns {
  text-align: center;
}

.icon {
  height: 50px;
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 5px auto 25px;
} 

.card {
  padding: 20px;
  text-align: left;
  min-height: 200px;
  vertical-align: middle;
}