@import '../../colors';
.navbar {
    position: fixed;
    top: 0;
    width: 100vw;
}

.burger {
    .icon {
        text-align:center;
        margin: 18px 25px;
        width: auto;
        color: #f0324c
    }
}