@import '../../colors';
.navbar {
    position: fixed;
    top: 0;
    width: 100vw;
}

.burger {
    .icon {
        text-align:center;
        margin: 18px 25px;
        width: auto;
        color: #f0324c
    }
}

.hamburger-menu {
    display: none;
}

@media (max-width: 1024px) {
    .navbar-menu {
        height: calc(100vh - 64px);
        background-color: #aaa;
        overflow: scroll;
    }

    .hamburger-menu {
        display: contents;
    }

    .navbar-dropdown {
        background-color: #505050;
    }
    .is-active {
        display: block;
    }

    #account {
        display: none;
    }

    .panel {
        height: auto;
    }

    .delete-icon {
        right: 25px;
    }

    .save-note {
        width: 100%;
        margin-bottom: 20px;
        border: 1px solid #1d7df2;
    }
}