.dashboard {
    overflow: hidden;
}

.editor-pane {
    position: fixed;
    top: 64px;
    width: 100vw;
    height: calc(100vh - 64px);
}

.pick-note {
    text-align: center;
    padding-top: 20px;
    font-size: 40px;
}

html {
    overflow: hidden;
}

.loading-screen {
    h1 {
        font-size: 50px;
    }
}