.login{
    width: 500px;
    background: #fff;
    padding: 20px;
    margin-top: 25px;

    h1 {
        font-size: 30px;
        padding: 10px 0;
    }

    .error {
        color: red;
        margin: 7px 0;
    }
}

.appname {
    font-size: 35px;
    text-align: center;
    margin-top: 50px;
}

.appname {
    a {
        color: #353535;
    }
}